html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 150px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#sourceHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 200px);
}


#forgeViewer {
  width: 100%;
  /*height: 100%;*/
  height: calc(100vh - 200px);
}
